---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"posts" | "bookmarks" | "favorites">>;
  collection: "posts" | "bookmarks" | "favorites",
  pageTitle: string;
  pageDescription: string;
}

const { page, collection, pageTitle, pageDescription } = Astro.props;
---

<Layout title={`${pageTitle} | ${SITE.title}`}>
  <Header activeNav=`${collection}` />
  <Main pageTitle=`${pageTitle}` pageDesc=`${pageDescription}`>
    <ul>
      {
        page.data.map(({ data, collection, slug }) => (
          <Card href={`/${collection}/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination page={page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
